.container {
    display: grid;
    grid-template-columns: 355px 355px;
    column-gap: 10px;
    margin: 0 1em 0 2em;
    width: auto;
}

.data-column {
    border-bottom: .5px gray solid;
}

.data-values {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
}

.dark {
    background-color: #333;
    color: #fff;
  }
  .light {
    background-color: #fff;
    color: #333;
  }