.error-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-header {
    font-size: 30px;
    color: gray;
    font-weight: bold;
}

@media screen and (min-width: 875px) {
    .error-container {
        margin-top: 150px;
    }
}